[
  {rabbit, [
    {default_vhost, <<"/test">>},
    {default_user, <<"test">>},
    {default_pass, <<"test">>},
    {log, [
        {file, [{file, "/var/log/rabbitmq/log/main.log"},
                {level, debug},
                {date, ""},
                {size, 0},
                {count, 1}
                ]},
        {console, [{enabled, true},
                    {level, debug}
        ]}
    ]}
  ]}
].
